<div
  class="float-voice-btn d-flex align-items-center justify-content-center rounded-circle"
  style="z-index: 99"
>
  <!-- mic-container-float btn ${
          !isMuted ? "btn-primary" : "btn-danger" -->

  <div
    class="btn-danger w-100 h-100 position-relative d-flex align-items-center justify-content-center rounded-circle"
  >
    <!-- <p class=" float-text  pe-4 ps-2 text-dark position-absolute right-100">
            text
          </p> -->
    <i class="fas fa-microphone-alt text-light" style="font-size: 1rem"></i>
    <!-- <div
          class={`${speaking || isSpeaking ? "speaking3" : "d-none"}`}
        ></div>
        <div
          class={`${speaking || isSpeaking ? "speaking4" : "d-none"}`}
        ></div> -->
  </div>
</div>
