<div
  class="float-voice-btn d-flex align-items-center justify-content-center rounded-circle"
  (click)="toggleSpeechRecog()"
  style="z-index: 99"
>
  <!-- mic-container-float btn ${
          !isMuted ? "btn-primary" : "btn-danger" -->

  <div
    class="{{
      !isStoppedSpeechRecog ? 'btn-primary' : 'btn-danger'
    }}  w-100 h-100 position-relative d-flex align-items-center justify-content-center rounded-circle"
  >
    <p
      *ngIf="isSpeaking && text"
      class="float-text pe-4 ps-2 text-light position-absolute right-100"
    >
      {{ text }}
    </p>
    <i class="fas fa-microphone-alt text-light" style="font-size: 1rem"></i>
    <div *ngIf="isSpeaking" class="speaking3"></div>
    <div *ngIf="isSpeaking" class="speaking4"></div>
  </div>
</div>
