<!-- Container for demo purpose -->
<div class="container my-5 py-5">

  <!-- Section: Design Block -->
  <section class="mb-10 text-center text-lg-start">
    <style>
      @media (min-width: 992px) {
        .cascading-right {
          margin-right: -50px;
        }
        .rotate-lg-6 {
          transform: rotate(6deg);
        }
      }

      /* These are the KEY styles - you can add them directly to any object you want in your project */
      .fancy-border-radius {
        border-radius: 53% 47% 52% 48% / 36% 41% 59% 64%;
      }
    </style>

    <!-- Jumbotron -->
    <div class="container py-4">
      <div class="row g-0 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div
               class="card cascading-right"
               style="
                      background: hsla(0, 0%, 100%, 0.55);
                      backdrop-filter: blur(30px);
                      z-index: 1;
                      "
               >
            <div class="card-body px-4 py-5 p-md-5 shadow-5">
              <h2 class="fw-bold mb-4 display-5">Why is it so great?</h2>
              <p class="text-muted mb-5">
                Nunc tincidunt vulputate elit. Mauris varius purus malesuada
                neque iaculis malesuada. Aenean gravida magna orci, non
                efficitur est porta id. Donec magna diam.
              </p>

              <div class="row">
                <div class="col-md-4 mb-5 mb-md-0">
                  <h2 class="fw-bold text-dark mb-3">10%</h2>
                  <h5 class="text-muted mb-0">Less sugar</h5>
                </div>

                <div class="col-md-4 mb-5 mb-md-0">
                  <h2 class="fw-bold text-dark mb-3">70%</h2>
                  <h5 class="text-muted mb-0">More flavor</h5>
                </div>

                <div class="col-md-4">
                  <h2 class="fw-bold text-dark mb-3">0%</h2>
                  <h5 class="text-muted mb-0">Gluten</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <img
               src="https://mdbootstrap.com/img/new/ecommerce/vertical/088.jpg"
               class="w-100 shadow-4 rotate-lg-6 fancy-border-radius"
               alt=""
               />
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->

</div>
<!-- Container for demo purpose -->
