<section class="section about-section p-4" id="about">

  <!-- Jumbotron -->
  <div class="container mission_section">
    <div class="row  justify-content-around flex-row-reverse">
      <div class="col-lg-6">
        <div class="about-text">
          <h2 class="mb-4 font-weight-bold">Our Mission</h2>
          <p>At Student Organsation Cell, LPU, you as a student will find the most conducive atmosphere
            for dynamic and focused learning and expermenting new vultures towards Industry.
          </p>
        </div>
      </div>
      <div class="col-lg-5 text-center img_container">
        <img src="https://images.shiksha.com/mediadata/images/1488259134phpShnPJa.jpeg" alt="mission_banner_img"
          class="img-fluid rounded shadow mission_image" />
      </div>
    </div>
  </div>
  <!-- /Jumbotron -->


  <!-- Jumbotron -->
  <div class="container vision_section">
    <div class="row  justify-content-around flex-row-reverse flex-wrap-reverse">
      <div class="col-lg-5 text-center relative img_container">
        <img
          src="https://cache.careers360.mobi/media/presets/720X480/colleges/social-media/media-gallery/155/2018/6/7/Lovely-Professional-University-Phagwara2.jpg"
          alt="vision_banner_img" class="img-fluid rounded shadow vision_image" />
        <svg viewBox="0 0 723 569" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
          class="pattern">
          <path
            d="M703.969 241.602L703.963 241.599C716.081 262.97 723 287.677 723 314C723 382.917 675.575 440.757 611.58 456.665L246.7 556.937C226.465 564.729 204.481 569 181.5 569C81.2603 569 0 487.74 0 387.5C0 353.244 9.49023 321.204 25.985 293.867L25.9688 293.875L141.512 77.5476C162.753 33.3052 207.123 2.2726 258.951 0.119583L258.959 0H264.719H390.999H508.5H509.999L510.002 0.00999319C551.85 0.567328 588.083 24.388 606.358 59.1292L606.359 59.125L703.969 241.602Z"
            fill="currentColor"></path>
        </svg>
      </div>
      <div class="col-lg-6">
        <div class="about-text">
          <h2 class="mb-4 font-weight-bold">Our Vision</h2>
          <p>We work with a singular goal and motive.</p>
          <figure class="text-center mb-0">
            <blockquote class="blockquote">
              <p class="pb-3">
                <i class="fas fa-quote-left fa-xs text-primary"></i>
                <span class="lead">A dream is not what you see in sleep but it is
                  something that does not let you sleep.</span>
                <i class="fas fa-quote-right fa-xs text-primary"></i>
              </p>
            </blockquote>
            <!-- <figcaption class="blockquote-footer mb-0">
                                Quote author...
                            </figcaption> -->
          </figure>
          <p>The ability to have a dream and work towards is the bliss that Student Organization Cell
            wants every student working with us to have and feel.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /Jumbotron -->
</section>



<section class="section container mt-5 achieving_section mx-auto p-5">
  <div>
    <h2 class="mb-3">Achieving Success</h2>


    <p>Through the face of adversity, opportunities evolve. This is the motto by which the students of Lovely
      Professional University have chosen to always endeavour into new ventures. </p>
    <p>The Division of Student
      Welfare has always been filled with exciting, dynamic opportunities and to help push the students beyond
      their comfort levels and unlock their potential.</p>
  </div>
</section>