<h1 class="display-2 mt-5 py-5 text-center text-warning fw-bold">Policies</h1>
<div class="w-100 px-5">
  <table class="table align-middle mb-0 bg-white mt-5">
    <thead class="bg-light">
      <tr>
        <th>Policy ID</th>
        <th>Policy Name</th>
        <th>Policy Scope</th>
        <th>Policy Department</th>
        <th>Policy URL</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let policy of policies">
        <td>
          <p class="text-muted mb-0">{{ policy["ID"] }}</p>
        </td>
        <td>
          <p class="fw-bold mb-1">J{{ policy["Policy Name"] }}</p>
        </td>
        <td>{{ policy["Policy Scope"] }}</td>
        <td>
          {{ policy["Department"] }}
        </td>
        <td>
          <a
            href="{{ policy['Policy URL'] }}"
            class="btn btn-link btn-sm btn-rounded"
            >Link</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
