<div
  class="login-container row mx-0 position-fixed bg-white d-flex flex-column align-items-center justify-content-center left-0 top-0 w-100 h-100"
  style="z-index: 999"
>
  <i
    class="position-absolute fa fa-times close-btn text-end"
    (click)="goBack()"
    role="button"
  ></i>
  <div class="card col-md-4">
    <div class="card-body p-4">
      <form
        #formData="ngForm"
        (ngSubmit)="onSubmit(formData)"
        autocomplete="off"
      >
        <div class="text-center mb-3">
          <p>Sign in with:</p>

          <button
            type="button"
            (click)="loginWithGoogle()"
            class="btn btn-primary btn-floating mx-1"
          >
            <i class="fab fa-google"></i>
          </button>
        </div>

        <p class="text-center">or:</p>

        <!-- Email input -->
        <mdb-form-control class="mb-4">
          <input
            mdbInput
            type="email"
            placeholder="Email address"
            (ngModel)="(email)"
            name="email"
            class="form-control"
            id="loginName"
            required
          />
          <label mdbLabel class="form-label" for="loginName">Email</label>
        </mdb-form-control>

        <!-- Password input -->
        <mdb-form-control class="mb-4">
          <input
            mdbInput
            type="password"
            placeholder="Password"
            (ngModel)="(password)"
            name="password"
            class="form-control"
            id="loginPassword"
            required
          />
          <label mdbLabel class="form-label" for="loginPassword"
            >Password</label
          >
        </mdb-form-control>

        <!-- 2 column grid layout -->
        <div class="row mb-4">
          <div class="col-md-6 d-flex justify-content-center">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
          </div>
        </div>

        <!-- Submit button -->
        <button
          type="submit"
          [disabled]="!formData.valid"
          class="btn btn-primary btn-block mb-4"
        >
          Sign in
        </button>

        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a routerLink="/signup">Sign Up</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
