<!-- Container for demo purpose -->
<div class="container my-5 py-5 shadow-5">
  <!--Section: Design Block-->
  <section class="text-center">
    <h3 class="mb-5">Get in touch</h3>

    <p class="text-center mb-5 mx-lg-5"></p>

    <form>
      <div class="row">
        <div class="col-lg-5">
          <p class="text-center mt-lg-4 mb-4">
            <strong>Make an appointment to get the Support</strong>
          </p>
          <div class="form-outline mb-4">
            <input type="text" id="Name" class="form-control" />
            <label class="form-label" for="Name">Name</label>
          </div>
          <div class="form-outline mb-4">
            <input type="email" id="Email" class="form-control" />
            <label class="form-label" for="Email">Email</label>
          </div>
          <div class="form-outline mb-4">
            <textarea class="form-control" id="Subject" rows="4"></textarea>
            <label class="form-label" for="Subject">Subject</label>
          </div>
          <div class="form-outline mb-4">
            <textarea class="form-control" id="Message" rows="4"></textarea>
            <label class="form-label" for="Message">Message</label>
          </div>
          <div class="text-center pb-3">
            <button
              type="submit"
              class="btn btn-primary btn-block mb-5 mb-md-0"
            >
              Send
            </button>
          </div>
        </div>
        <div class="col-lg-7" style="margin-top: -7rem">
          <img
            src="https://mdbootstrap.com/img/illustrations/graphics(1).png"
            class="img-fluid"
            alt="smaple image"
          />
        </div>
      </div>
    </form>
  </section>
  <!--Section: Design Block-->
</div>
<!-- Container for demo purpose -->
