<div
  class="row p-5"
  style="
    background-image: url(https://firebasestorage.googleapis.com/v0/b/so-lpu.appspot.com/o/assets%2FBg.png?alt=media&token=6ae13a3f-60a2-470b-ae72-7a0fadb2d9bd);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
  "
>
  <div class="col-md-6 mx-auto p-5">
    <h1 class="display-1 py-1 text-warning">
      Student <br />
      <span class="text-dark"> Organisations </span>
    </h1>
    <div
      class="border border-2 border-bottom-0 border-start-0 border-end-0 border-black h-0"
      style="width: 500px"
    ></div>
    <p class="pe-5 me-5 mt-5">
      The Division of Student Welfare has always been filled with exciting,
      dynamic opportunities and to help push the students beyond their comfort
      levels and unlock their potential. Our university gates are always graced
      by eminent and enigmatic personalities. Student Organization Cell comes
      under the Aegis of Division of Student Welfare, Lovely Professional
      University, Punjab with more than 200 organisations are working for the
      beneficiary of Students under more than 18 Categories.<br /><br />

      Here, students get the opportunity to start their own organizations to
      bring together students who share the same interests and ideologies.
      Student Organizations majorly work for the Holistic growth of Students as
      they learn to innovate and initiate.
    </p>

    <div class="row">
      <div class="col-md-6">
        <button
          class="btn btn-warning py-2 btn-block"
          style="border-radius: 30px !important; font-size: 1rem"
        >
          Explore
          <i class="fas fa-user-plus"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-4 mx-auto px-5">
    <img src="" />
  </div>

  <app-organisations></app-organisations>
</div>
