<div
  class="row w-100 h-100 p-5"
  style="
    background-image: url(https://firebasestorage.googleapis.com/v0/b/so-lpu.appspot.com/o/BG.png?alt=media&token=46b87096-7e3b-4216-ba7a-9ed3200a4b71);
  "
>
  <div class="col-md-6 mx-auto p-5">
    <h1 class="display-1 py-1 text-warning">
      Student <br />
      <span class="text-dark"> Organisation </span>
    </h1>
    <div
      class="border border-2 border-bottom-0 border-start-0 border-end-0 border-black h-0"
      style="width: 500px"
    ></div>
    <p class="pe-5 me-5 mt-5">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque voluptate
      mollitia, ducimus quae voluptatum nobis distinctio, asperiores nesciunt
      beatae a atque, maxime veritatis quibusdam? Perspiciatis deserunt error
      ipsum vel similique? Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Sunt incidunt cumque vitae porro a repudiandae sint optio voluptate
      harum numquam
    </p>

    <div class="row">
      <div class="col-md-6">
        <button
          class="btn btn-warning py-2 btn-block"
          style="border-radius: 30px !important; font-size: 1rem"
        >
          Explore
          <i class="fas fa-user-plus"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-4 mx-auto px-5">
    <img src="" />
  </div>
</div>
